[submodule "src/robot_msg"]
	path = src/robot_msg
	url = https://github.com/wudidadaqiuqiu/lp1-ros2-msg.git
[submodule "src/control_evaluate"]
	path = src/control_evaluate
	url = https://github.com/wudidadaqiuqiu/lp1-ros2-contorl-eva.git
[submodule "src/ros-connector"]
	path = src/ros-connector
	url = https://github.com/wudidadaqiuqiu/ros-connector.git
[submodule "src/rqt_signal_publisher"]
	path = src/rqt_signal_publisher
	url = https://github.com/wudidadaqiuqiu/rqt_signal_publisher.git
[submodule "src/rqt_reconfigure"]
	path = src/rqt_reconfigure
	url = https://github.com/gordon-n-stevenson/rqt_reconfigure.git
