[submodule "src/robot_msg"]
	path = src/robot_msg
	url = https://github.com/wudidadaqiuqiu/lp1-ros2-msg.git
[submodule "src/control_evaluate"]
	path = src/control_evaluate
	url = https://github.com/wudidadaqiuqiu/lp1-ros2-contorl-eva.git
[submodule "src/rqt_signal_publisher"]
	path = src/rqt_signal_publisher
	url = https://github.com/wudidadaqiuqiu/rqt_signal_publisher.git
[submodule "src/rqt_reconfigure"]
	path = src/rqt_reconfigure
	url = https://github.com/gordon-n-stevenson/rqt_reconfigure.git
[submodule "src/opt_control"]
	path = src/opt_control
	url = https://github.com/wudidadaqiuqiu/opt-control.git
[submodule "src/ocn_lazer_gimbal"]
	path = src/ocn_lazer_gimbal
	url = https://github.com/wudidadaqiuqiu/ocn_lazer_gimbal.git
[submodule "src/embedded_interface"]
	path = src/embedded_interface
	url = https://github.com/wudidadaqiuqiu/embedded_interface.git
